* {
    
    color: rgb(38, 41, 44);
}

ul {

    display: flex;
    gap: 7%;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 10%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

li{
    
    
}
li:hover{

    text-decoration: underline;
    color: white;
    border-radius: 10%;
    background-color: #0D6EFD;
    
}
.list-header {
    position: fixed;  
       
    left: 0;          
    width: 100%;      
    top: 0;
    z-index: 1000;   
    padding: 10px 0;  
    margin: 0;        
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}
.list-footer {
    position: fixed;  
    bottom: 0;        
    left: 0;          
    width: 100%;      

    z-index: 1000;   
    padding: 10px 0;  
    margin: 0;        
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); 
}

